
<mat-card>
  <form #pollForm="ngForm">
    <mat-form-field>
      <input matInput
      id="questionInput"
      type="text"
      name="pollQuestion"
      ngModel
      required
      minlength="3"
      placeholder="Enter your Polls Question"
      #pollQuestion="ngModel">
      <mat-error *ngIf="pollQuestion.invalid || pollQuestion.length <= 0"></mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea
      id="optionArea" 
      matInput
      rows="4"
      name="pollOption"
      type="text"
      ngModel
      required
      minlength="3"
      placeholder="Enter a Poll option"
      #pollOption="ngModel">

      </textarea>
      <mat-error *ngIf="pollOption.invalid || pollOption.length <= 0">Please enter valid poll option</mat-error>
    </mat-form-field>
    <br>
    <br>
    <br>
    <!--<button id="submit" mat-raised-button color="primary" type="submit">Submit Poll</button>-->
  </form>
  <button id="submit" mat-raised-button color="primary" (click)="createPoll()">Submit Poll</button>
  <button id="optionButton" mat-raised-button color="accent" (click)="addPollOption(pollQuestion.value, pollOption.value)">Add Poll Option</button>
</mat-card>
<br>
<br>

<mat-card *ngIf="options.length > 0">
  <mat-card-title>Your Poll Question</mat-card-title>
  <br>
  <mat-card-subtitle>{{question}}</mat-card-subtitle>
  <mat-card-subtitle>Your Poll Options</mat-card-subtitle>
  <mat-list *ngFor="let o of options">
    <mat-list-item class="mat-body-1">
      Poll Answer {{o.optionId + 1}}: {{o.answer}}
      <br><br>
      Number of Votes: {{o.numVotes}}
      <br><br>
      <!--<button id="deleteOption" mat-raised-button color="warn">Delete</button>-->
    </mat-list-item>
    <button mat-raised-button color="warn" (click)="deleteOption(o.optionId)">Delete</button>
    <button mat-raised-button color="primary" (click)="editOption(pollOption.value, o.optionId)">Edit</button>
    <mat-error *ngIf="pollOption.invalid || pollOption.length <= 0">Please enter Edited Text in Text Area then Click Edit Button</mat-error>
    <br>
    <hr>
    <br><br>
  </mat-list>
</mat-card>
