<mat-accordion multi="true" *ngIf="polls.length > 0">
    <mat-expansion-panel *ngFor="let p of polls; let pollId = index">
      <mat-expansion-panel-header>
        <mat-panel-title>
        <h3>{{p.question}}</h3>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <hr>
      <mat-list *ngFor="let o of p.options; let voteOption = index">
        <mat-list-item>
        <mat-radio-button (click)="setVote(voteOption, pollId)"></mat-radio-button>
         Option {{voteOption + 1}}: &nbsp;&nbsp; <h4>{{o.answer}}</h4>
        </mat-list-item>
        <p id="numVotes" class="mat-body-1" *ngIf="p.totalVotes > 0">
          {{o.answer}} has {{(o.numVotes / p.totalVotes) * 100 | number}}% of the Votes. 
        </p>
        <br>
        <hr>
      </mat-list>

      <br>
      <h4>
        Total Votes for Poll: {{p.totalVotes}}
      </h4>

      <button mat-raised-button color="warn" (click)="deletePoll(p._id)">Delete Poll</button>
      <button mat-raised-button color="accent" [routerLink]="['/edit', p._id]">Edit Poll</button>
      <button mat-raised-button color="primary" (click)="submitVote(p._id, p)">Submit Vote</button>
      
    </mat-expansion-panel>
    <br>
    <br>
  </mat-accordion>
  
  <p class="text-info mat-body-1" *ngIf="polls.length <= 0">
  No polls added yet...
  </p>
